---
layout: layout.njk
---
{%- if collections.posts | length == 0 %}
<p class="empty">No posts yet.</p>
{%- endif %}
<ul class="posts">
  {%- for post in collections.posts %}
  <li>
    <a href="{{ post.url | url }}">
      {% if post.data.title %}<strong>{{ post.data.title }}</strong>{% else %}{{ post.content | striptags | truncate(120) }}{% endif %}
    </a>
    <div class="meta">{{ post.data.date | readableDate }}</div>
  </li>
  {%- endfor %}
</ul>
{# The site itself, for search: one WebSite, one Person. #}
<script type="application/ld+json">{{ {
  '@context': 'https://schema.org',
  '@type': 'WebSite',
  name: blog.title,
  description: blog.description,
  url: site.url + '/' if site.url else '/',
  author: { '@type': 'Person', name: blog.author or blog.title }
} | jsonld | safe }}</script>
